@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}
@plugin "daisyui/theme" {
    name: light;
    default: true;
    --color-primary: blue;
    --color-secondary: teal;
}

.primary {
    font-weight: 600;
    background: linear-gradient(90deg, #632ee3 0%, #9f62f2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
